{% extends "base.html" %}
{% load static %}
{#}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}
{#}

{% block title %}商品一覧{% endblock %}

{% block content %}
<h1>商品一覧</h1>
<table>
    <thead>
        <tr>
            <th>商品名</th>
            <th>価格</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }} 円</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">商品はありません</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}
{% endblock %}