{% extends "base.html" %}

{% block title %}商品一覧{% endblock %}

{% block content %}
<h1>商品一覧</h1>
<a href="{% url 'crud:new' %}">新規作成</a>
<table class="border-collapse w-full">
    <thead>
        <tr>
            <th class="th-base">商品名</th>
            <th class="th-base">価格</th>
            <th class="th-base">カテゴリ</th>
            <th class="th-base">画像</th>
            <th class="th-base">アクション</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td class="td-base">{{ product.name }}</td>
            <td class="td-base">{{ product.price }} 円</td>
            <td class="td-base">{{ product.category }}</td>
            <td class="td-base"><img src="{{ product.img.url }}" alt="商品画像" class="w-[100px] h-auto" loading="lazy"></td>            
            <td class="td-base">
                <button
                class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
                onclick="location.href='{% url 'crud:detail' pk=product.pk %}'">
                詳細
                </button>
                <button
                class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
                onclick="location.href='{% url 'crud:edit' pk=product.pk %}'">
                編集
                </button>
                <button
                class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700"
                onclick="location.href='{% url 'crud:delete' pk=product.pk %}'">
                削除
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2" class="td-base">商品はありません</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include "pagination.html" %}

<form method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit">ログアウト</button>
</form>

{% endblock %}