# Pythonキャッシュ
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 仮想環境
venv/
env/

# DjangoのDBファイル
db.sqlite3

# メディアファイル（アップロード画像など）
media/

# ログ
*.log

# IDE / エディタの設定
.vscode/
.idea/

# OSごとの不要ファイル
.DS_Store
Thumbs.db

# 環境変数ファイル
.env
