# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
*.log

# OS / エディタ
.DS_Store
Thumbs.db
.vscode/
.idea/

# Tailwind build cache (あれば)
.pnp.*
.yarn/*
